/* Add your CSS styles here */
body {
  background-color: #5e0505b0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #ffffff;
  color: rgb(250, 250, 250);
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #ffffff;
  padding: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Add more styles as needed */
/* Style the tabs */
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tablinks {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tablinks:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tablinks.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
